<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p><strong>AthenaK Summer School 2026</strong> is an intensive 2-week program where early career scientists will learn to apply the AthenaK code to their own research. You will team up with 2-3 other participants based on shared interests and tackle a project together with guidance from our instructors.</p>
        
        <p>We will keep things flexible with morning lectures covering cutting-edge computational astrophysics, group lunches, and late-afternoon sessions where you can share your progress and connect with other participants. Most of your time will be spent working hands-on with your team in a collaborative research environment.</p>
        
        <p>Penn State will provide office space and computing resources for all participants, plus accommodation. While most people will cover their own travel costs, we have some funding available to help out students who need it - especially those from smaller or minority-serving institutions.</p>
        
        <p>The goal is to build the foundations and connections you need to continue advancing your work when you return to your home institutions.</p>
      </div>
    </div>
  </div>
</section>
