<!-- Application Section -->
<section id="application">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Apply to AthenaK Summer School</h2>
        <hr class="star-primary">
        <p class="lead"><strong>Applications Opening Soon</strong></p>
        <p>Applications will open later this year. Application deadline: February 15, 2026</p>
      </div>
    </div>
    <!--
    Application form temporarily disabled
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <form action="//formspree.io/f/mblkeobq" method="POST" name="applicationForm" id="applicationForm">
          Personal Information
          <div class="row">
            <div class="col-md-6">
              <div class="form-group floating-label-form-group controls">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" class="form-control" placeholder="First Name" id="firstName" required
                  data-validation-required-message="Please enter your first name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group floating-label-form-group controls">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" class="form-control" placeholder="Last Name" id="lastName" required
                  data-validation-required-message="Please enter your last name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group floating-label-form-group controls">
                <label for="email">Email Address</label>
                <input type="email" name="_replyto" class="form-control" placeholder="Email Address" id="email" required
                  data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>

          Academic Information
          <div class="row">
            <div class="col-md-12">
              <div class="form-group floating-label-form-group controls">
                <label for="institution">Current Institution</label>
                <input type="text" name="institution" class="form-control" placeholder="University/Institution" id="institution">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group controls">
                <label for="level">Academic Level</label>
                <select name="level" class="form-control" id="level" required
                  data-validation-required-message="Please select your academic level." style="height: 50px;">
                  <option value="" disabled selected>Select Academic Level</option>
                  <option value="undergraduate">Undergraduate Student</option>
                  <option value="graduate">Graduate Student</option>
                  <option value="postdoc">Postdoctoral Researcher</option>
                  <option value="faculty">Faculty</option>
                  <option value="other">Other</option>
                </select>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group floating-label-form-group controls">
                <label for="advisor">Advisor/Supervisor</label>
                <input type="text" name="advisor" class="form-control" placeholder="Advisor/Supervisor Name" id="advisor">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>

          Programming Experience
          <div class="row">
            <div class="col-md-12">
              <div class="form-group floating-label-form-group controls">
                <label for="programming">Programming Experience</label>
                <textarea rows="3" name="programming" class="form-control" 
                  placeholder="Describe your programming experience (languages, computational physics background, etc.)" 
                  id="programming"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>

          Research Interest
          <div class="row">
            <div class="col-md-12">
              <div class="form-group floating-label-form-group controls">
                <label for="research">Research Interests & Motivation</label>
                <textarea rows="4" name="research" class="form-control" 
                  placeholder="Describe your research interests and motivation for attending the AthenaK Summer School" 
                  id="research"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>

          Additional Information
          <div class="row">
            <div class="col-md-12">
              <div class="form-group floating-label-form-group controls">
                <label for="additional">Additional Information</label>
                <textarea rows="3" name="additional" class="form-control" 
                  placeholder="Any additional information you'd like to share (dietary restrictions, accessibility needs, etc.)" 
                  id="additional"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>

          <div>
            <input type="hidden" name="_subject" value="AthenaK Summer School Application">
            <input type="text" name="_gotcha" style="display:none" />
          </div>

          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12 text-center">
              <button type="submit" class="btn btn-success btn-lg">Submit Application</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    -->
  </div>
</section>
