<!-- Application Section -->
<section id="application">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Apply to AthenaK Summer School</h2>
        <hr class="star-primary">
        <p class="lead">Applications are now open!</p>
        <p>Application deadline: February 15, 2026</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScuwPmbJQq-t5yNcNVU4cn3oR5Mm6ARFU-Z9MV67PPTIk4JVw/viewform?usp=dialog"
           class="btn btn-success btn-lg" target="_blank" rel="noopener noreferrer">
          Apply Now
        </a>
      </div>
    </div>
  </div>
</section>
