<!-- Instructor Modals -->
{% for instructor in site.instructors %}
<div class="portfolio-modal modal fade" id="instructorModal-{{ instructor.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ instructor.name }}</h2>
            <hr class="star-primary">
            <img src="img/instructors/{{ instructor.img }}" class="img-responsive img-centered" alt="{{ instructor.alt }}">
            {% if instructor.bio %}
            <p>{{ instructor.bio }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if instructor.affiliation %}
              <li>Affiliation:
                <strong>{{ instructor.affiliation }}</strong>
              </li>
              {% endif %}
              {% if instructor.research-area %}
              <li>Research Area:
                <strong>{{ instructor.research-area }}</strong>
              </li>
              {% endif %}
              {% if instructor.website %}
              <li>Website:
                <strong><a href="{{ instructor.website }}" target="_blank">{{ instructor.website }}</a></strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
